{% extends 'recipes/layout.html' %} {% block body %}

<div class="add-box">
  {% if message %}
    <div>{{message}}</div>
  {% endif %} {% if user.is_authenticated %}
  <h1>Add Your New Recipe</h1>
  <form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <input
      type="text"
      id="rname"
      name="rname"
      required
      placeholder="Recipe name"
    /><br />
    <input
      type="number"
      id="servings"
      name="servings"
      required
      placeholder="Number of servings"
    /><br />
    <input
      type="number"
      id="time"
      name="time"
      required
      placeholder="Cooking time"
    /><br />
    <input
      type="text"
      id="desc"
      name="desc"
      required
      placeholder="Description"
    /><br />
    <input
      type="text"
      id="dir"
      name="dir"
      required
      placeholder="Direction"
    /><br />
    <input class="btn" type="submit" value="Submit" />
  </form>
  {% else %}

    <p>Please <a class="login-text" href="/users">log in</a> to create a new recipe!</p>

  {% endif %} 
</div>

{% endblock %}
