<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
        <!-- Link your CSS file here -->
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"> {% endcomment %}

</head>
<body>
    <nav>
        <ul>
          <li><a href="/recipes">📰 Recipes List</a> |</li>
          <li> <a href="/recipes/add">➕🧾 Add Recipes</a> |</li>
          <li><a href="/">🏠 Home</a> |</li>
          <li><a href="/about">😀 About</a> |</li>
          <li> <a href="/users">👤 User</a></li>
        </ul>
      </nav>
      <main>
            {% block body %}
            {% endblock %}
      </main>
   
</body>
</html>