{% extends "recipes/layout.html" %}
{% block body %}
    <h1>Recipe {{recipe.id}}</h1>
    <ul>
        <li><strong>Recipe name:</strong> {{recipe.name}}</li>
        <li><strong>Time:</strong> {{recipe.time}} mins</li>
        <li><strong>Servings:</strong> {{recipe.servings}}</li>
        <li><strong>Description:</strong> {{recipe.description}}</li>
        <li><strong>Direction:</strong> {{recipe.direction}}</li>
        <li><strong>Author:</strong> {{recipe.author}}</li>
        <li><strong>Date Created:</strong> {{recipe.date_created}}</li>
    </ul>

{% endblock %}