{% extends 'users/layout.html' %}

{% block title %}
    Log in
{% endblock %}


{% block body %}
<div class="login-box">
    
    {% if message %}
        <div class="message">{{message}}</div>
    {% endif %}
    <form class="login-form"  action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required/>
        <input type="text" name="password" placeholder="Password" required/>
        <input class="btn" type="submit" value="Login">
        <a href="">Create a new account</a>
        {% comment %} <a href="">Create a new account</a> {% endcomment %}
    </form>
</div>
    
{% endblock %}