{% extends "users/layout.html" %} {% load static %} 
{% block title %} 
User 
{%endblock %} 
{% block body %}
<div class="welcome-box">
    <h1>Welcome, {{ request.user.username}}</h1>
    <ul>
        <li>Username: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
    </ul>
    <input
        class="btn log-out-btn"
        type="button"
        onclick="location.href='{% url 'logout'%}';"
        value="Log out"
    />
</div>

{% comment %} <a href="{% url 'logout'%}">Log out</a> {% endcomment %}

{% endblock %}
