{% extends 'layout.html'%}
 
{% block title %}
    About
{% endblock %}

{% block content %}
  <h1 >About</h1>
    <p>
      <strong>This is my first Django app. </strong>
      <p>
        Have you ever found yourself staring into your fridge, wondering what to cook with the ingredients
        you have on hand? Look no further! Our Django app is designed to solve just
        that. Powered by a sophisticated algorithm and a user-friendly interface, we
        make it effortless for you to discover delicious recipes based on the
        ingredients you already have in your fridge. With my expertise in Django and
        database management, I've crafted a seamless experience that empowers you to
        unleash your creativity in the kitchen. Say goodbye to food waste and hello to
        culinary inspiration. Let's dive in and unlock a world of tasty
        possibilities!
      </p>
    </p>
{% endblock %}