<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <!-- Link your CSS file here -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/mediaqueries.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!--menu-->
    <nav id="desktop-nav">
      <div class="logo"><a href="/">Emily's Recipes</a></div>
      <div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/recipes">Recipes List</a></li>
          <li><a href="/recipes/add">Add Recipes</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/users">User</a></li>
        </ul>
      </div>
    </nav>
    <!-- hamburger menu-->

    {% comment %} <nav id="hamburger-nav" class="topnav">
      <a href="/" class="active">Emily's Recipes</a>
      <div id="myLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes List</a></li>
        <li><a href="/recipes/add">Add Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/users">User</a></li>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </nav> {% endcomment %}

    <!--main-->
    <main>{% block content %} {% endblock %}</main>

    <!--footer-->
    <footer>
      <p>
        Copyright &#169; <span id="date"></span> Designed and Developed by
        <strong
          ><a
            target="blank"
            href="https://thunahh123.github.io/emily-ng-site.github.io/"
            >Emily Nguyen Development</a
          ></strong
        >
      </p>
    </footer>

    <!--scripts-->
    <script src="{% static 'js/script.js'%}"></script>
  </body>
</html>
